

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>username</th>
            <th>email</th>
            <th>address</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of data" >
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.username}}</td>
            <td>{{e.email}}</td>
            <td>{{e.address.street}} ,{{e.address.city}} ,{{e.address.zipcode}}</td>
           
        </tr>
    </tbody>
</table>
